/* @media(min-width:480px) and(max-width:1024px){
.section-1{
    width: 100%;
}
} */
/* @media(max-width:991px){
    h1{
       font-size: 3.25rem;
    }
    h2{
        font-size: 1.125rem;
        line-height: 1.5625rem;
    }
    .wrapper{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}
@media(max-width:991px){
    h4{
        font-size: 0.9375rem;
        margin-bottom: 0.625rem;

    }
    p{
        font-size: 0.9375rem;
        line-height: 1.3125rem;
    }
    .text-content{
        width: 100%;
    }
    .navigation-wrap .navbar-brand{
        height: 2.8125rem;
    }
    .navbar-toggler{
        color: blue;
        line-height:2 ;
        
       
    }
    .navigation-wrap{
        text-align: right;
        background-color: black;
    }
    .navigation-wrap{

    }
} */

/* @media only screen and(max-width:768px){
    header.navbar-brand{
        padding-left:1rem;
    }
} */
